<!DOCTYPE html>
<html class="leading-tight text-gray-900 antialiased" lang="en">
    <head>
    <title webc:is="meta-title"></title>

    </head>
    <body {% if noconsent==true %} class="noconsent" {% endif %}>
        <div class="wrapper">

            <main>
                {% block content %}{% endblock %}
            </main>

        </div>
            <script type="module" src="/main.js" webc:keep></script>

    </body>
</html>
