---
title: 'Example'
---

{% extends "layouts/base.njk" %}

{% block content %}
  <h1>Hello!</h1>
  <p>Let's try out some elements, layouts and styles.</p>

  <!--{% if isAdmin %}
    <p>Welcome, administrator!</p>
  {% else %}
    <p>Welcome, guest!</p>
  {% endif %} -->

  <ul>
    {% for item in items %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
{% endblock %}
