---
layout: 'layouts/home.webc'
title: 'Example'
---

<!DOCTYPE html>
<html lang="en">
<html>

<head>
  <title>Example</title>
</head>
<body>
  <h1>Hello!</h1>
  <p>Let's try out some elements, layouts and styles.</p>

  <!--{% if isAdmin %}
    <p>Welcome, administrator!</p>
  {% else %}
    <p>Welcome, guest!</p>
  {% endif %} -->

  <ul>
    {% for item in items %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
</body>
</html>