---
layout: 'layouts/home.webc'
title: 'Home'
meta:
  desc:
    '11st-Starter-Kit is a minimal starting point for building static websites
    with 11ty, powered by Vite with Tailwind CSS and Alpine.js.'
intro:
  title: 'Welcome to Your Eleventy App'
  desc:
    'For a guide and recipes on how to configure / customize this project, check
    out the <a href="https://www.11ty.dev/docs/" class="text-gray-900
    font-medium underline">Eleventy</a> and <a href="https://vitejs.dev/"
    class="text-gray-900 font-medium underline">Vite</a> documentation.'
---
<a href="#" class="text-gray-900 font-medium underline">Link</a>

<h1 class="text-2xl font-bold text-gray-900">Heading 1</h1>

<h2 class="text-xl font-bold text-gray-900">Heading 2</h2>

<h3 class="text-lg font-bold text-gray-900">Heading 3</h3>

<h4 class="text-base font-bold text-gray-900">Heading 4</h4>